<div class="row-1">
  <embed type="image/svg+xml" src="../../assets/world.svg" alt="World map" />
</div>
<div class="row-2">
  <table>
    <tr>
      <td class="left-col">Country:</td>
      <td id="name">Name</td>
    </tr>
    <tr>
      <td class="left-col">Capital:</td>
      <td id="capitol">Capitol</td>
    </tr>
    <tr>
      <td class="left-col">Region:</td>
      <td id="region">Region</td>
    </tr>
    <tr>
      <td class="left-col">Income Level:</td>
      <td id="income">Income</td>
    </tr>
    <tr>
      <td class="left-col">Longitude:</td>
      <td id="longitude">Longitude</td>
    </tr>
    <tr>
      <td class="left-col">Latitude:</td>
      <td id="latitude">Latitude</td>
    </tr>
  </table>
</div>
